@font-face {
    font-family: YSText;
    src: url(../fonts/YSText-Regular.woff) format("woff");
    font-weight: 400;
}

@font-face {
    font-family: YSText;
    src: url(../fonts/YSText-Medium.woff) format("woff");
    font-weight: 500;
}

@font-face {
    font-family: YSText;
    src: url(../fonts/YSText-Bold.woff) format("woff");
    font-weight: 700;
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/playfair-display-v21-cyrillic-regular.woff');
}