$base-color: #692d31;
$base-color-dark: #381b1d;
$base-color-light: #ac6569;
.btn {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.btn-outline-primary {
  color: $base-color;
  border-color: $base-color;
  border-radius: 0px;
  &:hover,
  &:focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus {
    color: #fff;
    box-shadow: none;
    background-color: $base-color;
    border-color: $base-color;
  }
}

body {
  font-family: YSText;
  background: #fff;
  button {
    border: none;
    &:focus {
      outline: none;
    }
  }
  img {
    width: 100%;
  }
  li {
    list-style: none;
    position: relative;
  }
  section {
    h2 {
      text-align: center;
      color: $base-color-dark;
    }
    padding-top: 106px;
    padding-bottom: 20px;
    h1,
    h2 {
      margin-bottom: 1.5em;
    }
  }
}

.navbar {
  // background-color: #fff;
  background-color: rgb(138 94 96 / 0.8);
  padding-right: 1em !important;
  .navbar-toggler {
    border: none;
    &:focus {
      outline: none;
    }
  }
  .navbar-brand {
    font-weight: 700;
    letter-spacing: 0.7em;
    font-style: italic;
  }
  .nav-link {
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    &:not(.dropdown-toggle) {
      &:after,
      &.active:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: rgb(255 255 255 / 70%);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      &:hover:after,
      &.active:after {
        width: 100%;
        left: 0;
      }
    }
  }
}

#about {
  font-family: "Playfair Display", serif;
  position: relative;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 18px;
  }
  .wrapper {
    border-radius: 1px;
    height: 25em;
    position: relative;
    background: #8a5e60;
    padding: 2em 1em 5em 8em;
    margin-left: 13em;
    width: 45em;
    h2,
    p {
      color: #fff;
      &::before,
      &::after {
        content: none;
      }
    }
    img {
      position: absolute;
      width: 200px;
      border: 1px solid #f9f9f9;
      &:nth-child(1) {
        left: -8em;
        top: 10em;
      }
      &:nth-child(2) {
        left: 3em;
        top: 22em;
      }
    }
  }
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  .catalog__item {
    font-family: "Merriweather";
    display: none;
    flex-direction: column;
    padding: 20px;
    box-shadow: 1px 0 0 0 #0000008c, 0 1px 0 0 #0000008c,
      1px 0 0 0 #0000008c inset, 0 1px 0 0 #0000008c inset;
    h3 {
      font-size: 1.5rem;
    }
    br {
      display: none;
    }
    img {
      transition: transform 0.5s;
      margin-bottom: 20px;
      #entrance-doors & {
        width: 48%;
      }
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
    p {
      font-size: 14px;
    }
    .price {
      font-size: 20px;
      font-style: italic;
      color: #444444;
      &::before {
        display: block;
        content: "";
        border-top: 1px solid $base-color-dark;
        width: 100%;
        height: 1px;
      }
    }
    .col {
      padding-left: 0;
      margin-bottom: 2em;
    }
    .color {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      border-radius: 4px;
      margin-bottom: 16px;
      cursor: pointer;
      transition: all 0.4s ease;
      background: #82431e;
    }
    button {
      width: 100%;
    }
  }
}

.load-more-button {
  border: none;
  &:hover,
  &:focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus {
    color: $base-color-light;
    box-shadow: none;
    background: none;
  }
}

#furniture {
  overflow: hidden;
  h2 {
    margin-bottom: 0;
  }
  .furniture__catalog {
    flex-wrap: nowrap !important;
    transform: translateX(0px);
    transition: all 0.5s;
    .furniture__catalog_item {
      cursor: pointer;
      font-family: "Merriweather";
    }
  }
}

#reviews {
  margin-bottom: 5em;
  .review {
    box-shadow: #d2d2d2 0px 0px 15px;
    border-radius: 3px;
    padding: 2.5rem;
    .review__userpic {
      margin-right: 1em;
    }
  }

  .carousel {
    .carousel-item {
      padding: 1em 11em;
    }
    .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='gray' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
    }
    .carousel-control-next-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='gray' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
    }
  }
}

#contacts {
  padding-top: 50px;
  background: #381b1d;
  color: #fff;
  padding-bottom: 2em;
  h2 {
    color: #fff;
  }
  .contacts__item {
    font-family: "Merriweather";
    svg {
      transition: all 0.3s ease;
      margin-bottom: 1em;
      &:hover,
      &:focus path {
        cursor: pointer;
        fill: $base-color;
      }
    }
  }
}

.modal {
  z-index: 1;
  .modal-header {
    background: $base-color;
    color: #fff;
    span {
      color: #fff;
    }
  }
  .modal-dialog {
    width: 16em;
    margin-right: 0;
    min-height: 0;
    position: absolute;
    right: 1em;
    bottom: 4em;
  }
}

.modal-open {
  padding-right: 0 !important;
  overflow: auto;
}

.modal-backdrop {
  z-index: -2;
  background-color: rgb(0 0 0 / 0);
}

.contact-form {
  .contact-form__icon {
    z-index: 2;
    position: fixed;
    bottom: 1em;
    right: 6.5em;
    cursor: pointer;
    min-width: 60px;
    min-height: 60px;
    background: linear-gradient(90deg, #e35083 0%, rgb(173 19 87) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgb(173, 19, 87, 0.6);
    transition: all 0.3s ease-in-out 0s;
    outline: none;
    padding: 10px;
    transition: all 0.4s ease;
    &::before {
      content: "";
      border-radius: 1000px;
      min-width: 60px;
      min-height: 60px;
      box-shadow: 0 0 60px rgb(173, 19, 87, 0.6);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all 0.3s ease-in-out 0s;
    }
    &:hover,
    &:focus,
    &.active {
      transform: translateY(-6px);
      background: linear-gradient(90deg, #d2366c 0%, rgb(177 0 78) 100%);
    }
    &:hover::before,
    &:focus::before,
    &.active::before {
      opacity: 1;
    }
    &::after {
      content: "";
      width: 30px;
      height: 30px;
      border-radius: 100%;
      border: 6px solid #ad1357;
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: ring 1.5s infinite;
    }
    &:hover::after,
    &:focus::after,
    &.active::after {
      animation: none;
      display: none;
    }
  }
  form {
    .form-control:focus {
      border-color: #343a40;
      box-shadow: none;
    }
  }
}

.parallax {
  opacity: 0.2;
  width: 100%;
  background: url(../img/door1.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loading {
  overflow: hidden;
  height: 100vh;
}

.button-loading {
  background: url("../img/loading.svg") no-repeat center;
  color: rgb(0 0 0 / 0%) !important;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #fff url("../img/loader.svg") no-repeat center center;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.hidden {
  display: none;
}

.opacity {
  opacity: 0.4;
  transition: all 3s ease;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}

@keyframes zoom {
  0% {
    background-size: 95% auto;
  }
  50% {
    background-size: 100% auto;
  }
  100% {
    background-size: 95% auto;
  }
}

@media screen and (max-width: 768px) {
  .navbar-collapse {
    height: 100vh;
  }
  .navbar {
    background-color: rgb(105 45 49);

    .navbar-brand {
      font-weight: 700;
      letter-spacing: 0.4em;
    }
  }

  #about {
    padding-top: 55px;
    height: auto;
    font-size: 0.9rem;
    .parallax {
      opacity: .1;
    }
    .wrapper {
      background: none;
      width: auto;
      height: 100vh;
      margin-left: 0;
      padding: 2em;
      img {
        display: none;
      }
      h2,
      p {
        font-weight: 500;
        color: $base-color-dark !important;
      }
    }
  }

  .catalog {
    .catalog__item {
      h3 {
        font-size: 1.2rem;
      }
    }
  }

  #reviews .carousel .carousel-item {
    padding: 0;
    .review {
      padding: 0;
      box-shadow: none;
    }
    .review__userpic {
      display: none;
    }
  }

  .contact-form .contact-form__icon {
    bottom: 1em;
    right: 1em;
  }

  .modal .modal-dialog {
    bottom: 5em;
  }
}

@media screen and (max-width: 490px) {
  .catalog {
    .catalog__item {
      br {
        display: block;
      }
      .price {
        font-size: 15px;
      }
      p {
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .catalog {
    .catalog__item {
      h3 {
        font-size: 0.9rem;
      }
      .price {
        font-size: 14px;
      }
      p {
        font-size: 12px;
      }
    }
  }
}
